.thecook_link {
    color: var(--secondary-color);
}

.thecook_link:hover {
    color: var(--primary-color);
}

.show-lg,
.show-md,
.show-sm {
    display: none;
}

@media (min-width: 992px) {
    .show-lg {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .show-md {
        display: block;
    }
}

@media (max-width: 767px) {
    .show-sm {
        display: block;
    }
}